---
navpages:
- title: Home
  url: /index.html
- title: BookTeeTime
  url: /BookTeeTime
- title: Events
  url: /Events
- title: Contactus
  url: /Contactus
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <title>Tommy's Memorial Golf</title>
    <link rel="stylesheet" href="/Styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              {%- for entry in navpages %}
              <li {% if entry.title == title %}
                  class="selected" {% endif %}>
                <a href="{{ entry.url }}">
                  {{ entry.title }}
                </a>
              </li>
              {%- endfor %}
            </ul>
        
        </nav>
</header>
<main>
       {{ content }}
      
        </main>
</body>
</html>